@charset "utf-8";

body {
	background-color: pink;
	
}
img {
	width: 50%;
}
img:hover {
	border: dotted teal 10px;
	border-radius: 100%
}

h2 {
	letter-spacing: -2px;
	text-shadow: 2px 2px 5px teal;
	color: teal;
	text-decoration: wavy underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
